/* CSS Varibles */
:root {
    --primary-color: rgb(255, 202, 19);
}

/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 16px;
}

header ul,
footer ul,
#hamburger-section ul {
    list-style-type: none;
}

/* Header section */
header {
    background-color: #ffffff;
    color: #181818;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    padding: 1em 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#header-div {
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 85%;
}

header figure {
    align-items: center;
}

header nav {
    min-width: 220px;
    width: 40%;
}

header ul {
    justify-content: space-between;
}

header a,
footer a,
#hamburger-section a {
    color: inherit;
    text-decoration: none;
}

header ul a {
    padding: 0.25em 0.5em;
}

header ul a:hover {
    border-bottom: 3px solid var(--primary-color);
}

header img {
    width: 24px;
    height: 24px;
}

#login {
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: #181818;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    outline: none;
    padding: 0.6em 1em;
    text-transform: uppercase;
}

/* Hamburger section */
#hamburger {
    cursor: pointer;
    display: none;
    height: 10px;
    width: 20px;
}

#hamburger-section {
    align-items: center;
    background-color: var(--primary-color);
    display: none;
    justify-content: center;
    height: 100vh;
    line-height: 3;
    position: fixed;
    top: 45px;
    width: 100vw;
}

#hamburger-section a:hover,
footer a:hover {
    color: #ffffff;
}

/* Footer section */
footer {
    background-color: var(--primary-color);
    color: #181818;
    font-family: 'Poppins', sans-serif;
    padding: 1.5em 0;
}

#footer-div {
    justify-content: space-around;
    line-height: 2.5;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
    width: 90%;
}

footer nav {
    width: 50%;
}

footer ul {
    justify-content: space-between;
}

/* General classes */
.flex {
    display: flex;
}

.bold {
    font-weight: 500;
}

/* Media queries */
@media (max-width: 700px) {
    html {
        font-size: 12px;
    }

    #hamburger {
        display: block;
    }

    #hamburger-section {
        font-size: 1.5rem;
    }

    .hide {
        display: none;
    }
}


@media (max-width: 500px) {
    footer .flex-column {
        width: 100%;
    }

    .flex-column {
        flex-direction: column;
    }
}