{% extends "template.html" %}

{% block title %}
    Recovery
{% endblock %}

{% block css %}
../static/css/account-recovery.css
{% endblock %}

{% block content %}
            <!-- Account recovery section -->
            <section class="account-recovery">
                <!-- Form section -->
                <form action="" method="POST">
                    <div id="title-div" class="flex">
                        <img id="logo" src="https://res.cloudinary.com/dizrb3vql/image/upload/v1596126338/Screenshot_20200728-234326_1_rvxqme.png" alt="Logo">
                        <h2 id="form-title">Account Recovery</h2>
                    </div>
                    <div class="recovery-inputs email">
                        <div class="flex">
                            <label for="email">Enter Your Email Address</label>
                            <input id="email" type="email" name="email" required>
                        </div>
                        <button class="submit-btn" type="submit">NEXT</button>
                    </div>
                </form>
            </section>
{% endblock %}
