{% extends "template.html" %}

{% block title %}
    Login
{% endblock %}

{% block css %}
    ../static/css/login.css
{% endblock %}

{% block content %}
    <!-- Form section -->
    <section id="sign-in-section">
        <form action="" method="POST">
            <div id="title-div" class="flex">
                <img id="logo"
                    src="https://res.cloudinary.com/dizrb3vql/image/upload/v1596126338/Screenshot_20200728-234326_1_rvxqme.png"
                    alt="Logo">
                <h2 id="form-title">Sign in</h2>
            </div>
            <div class="text-right">
                <center>
                    <p style="color:red;font-size:10.5pt;position:relative;top:15px;">{{ data.get("error") or "" }}</p>
                </center>
                <div class="form-input flex">
                    <label for="email">Email Address</label>
                    <input id="email" type="email" name="email" value="{{ data.get('email') or '' }}" required>
                </div>
                <div class="form-input flex">
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password" minlength="8" required>
                </div>
                <button id="submit-btn" type="submit">Sign in</button>
            </div>
            <div id="bottom-div" class="flex">
                <div></div>
                <div>
                    <a id="sign-up" class="text-right" href="{{ url_for('register') }}">Sign up</a>
                    <a id="forget-pass" class="text-right" href="{{ url_for('recover') }}">Forgotten password?</a>
                </div>
            </div>
        </form>
    </section>
{% endblock %}